[Unit]
Description=Example systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/sbin/pihole-untar.sh

[Install]
WantedBy=multi-user.target
